
* {
    margin: 0;
    padding: 0;
}

body.main_index {
    background: url(../images/background.jpg);
    /* background-color: black; */
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div.box {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

div.shadow {
    box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.9);
}
div.corner-window {
    background: #2D2E33;
}
div.cell {
    cursor: pointer;
}
div.cell:hover {
    background:#4D4F52;
    opacity: 0.4;
}
/* 导航栏 start*/
.naviBtn {
    float: right;
    margin-right: 15px;
}
.naviHeight {
    line-height: 1.5;
}
.navbar-bg {
    background-color: #292F36;
}

.navbar-btn {
    background-color: #292F36;
    color: #FFFFFF;
    font-size:14px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    line-height: 44px;
}

.navbar-btn:hover {
    cursor: pointer;
}

.navBar-img {
    background: url(../images/homeImages/home-back@2x.png);
    font-size: 26px;
    width: 26px;
}

.navbar-backHome {
    width: 56px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
}

i {
    font-style: normal;
}

.navbar-center {
    margin-left: auto;
    margin-right: auto;
}

.navbar-btn-search {
    background-color: #0A0A0B;
    border-radius: 44px;
    width: 240px;
    height: 44px;
}

.navbar-btn-search-title {
    width: 84px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(160, 160, 160, 1);
    line-height: 44px;
    margin-left: 20px;
}
/* navi end */
div.col-center {
    float:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 8px;
    width: 600px;
    height: 500px;
}

.l-center {
    text-align: center;   
}

p.list_posts_tag {
    display: inline-block;
    padding-right: 8px;
}